services:
  - type: web
    name: backend
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn app:app --host 0.0.0.0 --port $PORT --proxy-headers
    envVars:
      - key: GEMINI_API_KEY
        sync: false
      - key: GEMINI_API_URL
        sync: false
      - key: OPENAI_API_KEY
        sync: false
